body{
    background-color: #030414;
}
.main_container{
    height: 400px;
    width: 600px;
    margin: auto;
    background-color: #0a0425;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
.main_container input[type="number"]{
    padding: 10px 20px;
    font-size: 1.2rem;
    border: 4px solid rgb(10, 12, 94);
    border-radius: 10px;
}
.main_container button{
    padding: 7px 20px;
    font-size: 1.2rem;
    /* border: 4px solid rgb(10, 12, 94); */
    border-radius: 10px;
    border-style: none;
    background-color: #20ec6e;
    cursor: pointer;
    border: 2px solid #0a0425;
    margin-left: 5px;
}
.main_container .row{
    display: flex;
    padding: 20px 0 0 150px;
}
.main_container .row p{
    text-align: center;
    margin: 0 20px;
    font-size: 1.3rem;
}